#app {
    color: #333;
    /* font-family: 'Arial', sans-serif; */
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: inline;
}

/* #app h1 {
    font-size: 16px;
} */

/* #app * {
    border-style: solid;
    border-radius: 4px;
    border-color: rgb(69, 100, 94);
} */

.tag-list {
    display: flex;
    flex-wrap: wrap;
}

.tag-list .tag {
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(222, 222, 222);
    margin: 5px;
    text-wrap: nowrap;
}

.tag-label.commed-style {
    /* margin-top: 10px; */
    /* padding: 5px; */
    line-height: 1em;
    font-weight: bold;
    margin: 5px;
}

.tag-list p.tag-label.commed-style {
    /* margin-top: 10px; */
    padding: 7px;
    line-height: 1em;
    height: 1em;
}

.datetime-and-author {
    color: gray;
}

#space-at-the-bottom-of-the-webpage {
    height: 600px;
}

#about {
    margin: 20px;
    padding: 10px;
}

.commed-style {
    border-radius: 10px;
    background-color: green;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    /* margin-left: 10px; */

}

.no-text-decoration {
    text-decoration: none;
}

.post-title,
.playlist-title {
    font-weight: bold;
}

.form-line {
    display: flex;
}

.form-line label {
    text-wrap: nowrap;

}

.form-line input {
    width: 100%;
}

.create-new-playlist-form {
    display: flex;
}

.create-new-playlist-form label {
    text-wrap: nowrap;
}

.create-new-playlist-input {
    width: 100%;
}

#filter-and-sort {
    border: solid;
    border-color: green;
    border-radius: 10px;
    padding: 10px;
}

.add-tag-form {
    display: flex;
}

.add-tag-form #tag-input {
    width: 100%;
}

.comment-options-line {
    display: flex;
}

#posts,
#playlists,
#home,
#create-form,
#edit-form,
#view-post,
#view-playlist,
#about,
#sign-in-or-sign-up {
    width: 720px;
    margin: auto;
}

.code {
    font-family: 'Courier New', Courier, monospace;
}

.button {
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    /* box-shadow: 0 9px #999; */
    border: none;
    background-color: green;
    color: white;
    border: solid;
    border-radius: 5px;
    padding: 5px;
    font-family: "Computer Modern", serif;
    font-size: 18px;
    margin: 0px;
}

.button:hover {
    /* background-color: #3e8e41 */
}

.button:active {
    /* background-color: #3e8e41; */
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

select {
    cursor: pointer;
}

select option {
    padding: 10px;
}

#about a {
    text-decoration: underline;
    color: purple;
    font-size: 18px;
}