textarea {
    width: 100%;
    height: 50px;
}

.comment-options.line {
    width: 100%;
}

.submit-comment input {
    background-color: green;
    color: white;
    border-radius: 5px;
    border: solid;
    font-size: 18px;
    font-family: "Computer Modern", serif;
    float: right;
}

.submit-comment .white-space {
    height: 40px;
}