#tag-submit {
    font-size: 18px;
    font-family: "Computer Modern", serif;
    padding: 5px;
    background-color: green;
    color: white;
    border: solid;
    border-radius: 5px;
}

#tag-form {
    margin-bottom: 40px;
}